USE [master]
GO
/****** Object:  Database [ACCOUNTS_POS]    Script Date: 30-10-2017 11:45:35 ******/
CREATE DATABASE [ACCOUNTS_POS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ACCOUNTS_POS', FILENAME = N'D:\RDSDBDATA\DATA\ACCOUNTS_POS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ACCOUNTS_POS_log', FILENAME = N'D:\RDSDBDATA\DATA\ACCOUNTS_POS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ACCOUNTS_POS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ACCOUNTS_POS]
GO
/****** Object:  User [makrov]    Script Date: 30-10-2017 11:45:38 ******/
CREATE USER [makrov] FOR LOGIN [makrov] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [makrov]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 30-10-2017 11:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_CODE] [nvarchar](50) NULL,
	[CUSTOMER_NAME] [nvarchar](100) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[POSTCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[WEBSITE] [nvarchar](100) NULL,
	[VAT_TYPE] [nvarchar](50) NULL,
	[VAT_NUMBER] [nvarchar](50) NULL,
	[PRICE_TYPE] [nvarchar](50) NULL,
	[DATES_STARTED] [datetime] NULL,
	[DYNAMIC_DISC] [bit] NULL,
	[CUSTOMER_MAIL] [nvarchar](50) NOT NULL,
	[CUSTOMER_STATUS] [bit] NULL,
	[REGISTERED] [bit] NULL,
	[DUNS_NO] [nvarchar](50) NULL,
	[COMPANY_ID] [int] NULL,
	[OLDEST_INV_DATE] [datetime] NOT NULL,
	[LAST_SALE] [datetime] NULL,
	[LAST_PAYMENT] [datetime] NULL,
	[AVG_PMT_DATE] [datetime] NULL,
	[IS_SUPPLIER] [bit] NULL,
	[STATEMENT] [nvarchar](50) NULL,
	[SEND_MAIL] [bit] NULL,
	[SALUTATION] [nvarchar](50) NULL,
	[SKYPE_ID] [nvarchar](50) NULL,
	[OS_BALANCE] [nchar](10) NULL,
	[OS_ORDERS] [nchar](10) NULL,
	[CR_REMAIN] [nchar](10) NULL,
	[IS_DELETE] [bit] NULL,
	[STATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER_BANK_DETAILS]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_BANK_DETAILS](
	[BANK_ID] [int] IDENTITY(1,1) NOT NULL,
	[BACS_REF] [nvarchar](50) NULL,
	[ACCOUNT_NAME] [nvarchar](50) NULL,
	[BANK_NAME] [nvarchar](50) NULL,
	[STREET1] [nvarchar](50) NULL,
	[STREET2] [nvarchar](50) NULL,
	[TOWN] [nvarchar](50) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[POST_CODE] [nvarchar](50) NULL,
	[SHORT_CODE] [nvarchar](50) NULL,
	[ACCOUNT_NUMBER] [nvarchar](50) NULL,
	[PAYMENT_REF] [nvarchar](50) NULL,
	[BIC_SWIFT] [nvarchar](50) NULL,
	[IBAN] [nvarchar](50) NULL,
	[ROLL_NO] [nvarchar](50) NULL,
	[PAYMENT_METHOD] [nvarchar](50) NULL,
	[ONLINE_RECEIPT] [bit] NULL,
	[NOTES] [nvarchar](200) NULL,
	[CUSTOMER_CODE] [nvarchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[STATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK_CUSTOMER_BANK_DETAILS] PRIMARY KEY CLUSTERED 
(
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER_COMMUNICATION]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_COMMUNICATION](
	[DATE] [datetime] NULL,
	[CONTACT_TYPE] [varchar](50) NULL,
	[CONTACT_BY] [varchar](50) NULL,
	[SUBJECT] [varchar](50) NULL,
	[BALANCE] [decimal](18, 0) NULL,
	[OUTCOME] [decimal](18, 0) NULL,
	[PROMISE_PAYMENT] [varchar](50) NULL,
	[FOLLOW_UP] [varchar](50) NULL,
	[NOTE] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER_CONTACTS]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_CONTACTS](
	[DEPARTMENT_TYPE] [nvarchar](100) NULL,
	[CONTACT_PERSON] [nvarchar](50) NULL,
	[SALUTATION] [nvarchar](50) NULL,
	[SALUTATION_TYPE] [nvarchar](50) NULL,
	[TELEPHONE] [varchar](20) NULL,
	[EXTENTION] [varchar](50) NULL,
	[FAX] [varchar](50) NULL,
	[MOBILE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER_CREDIT_CONTROL]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_CREDIT_CONTROL](
	[CREDIT_LIMIT] [decimal](18, 0) NULL,
	[SETTLEMENT_DUE_DAYS] [int] NULL,
	[PAYMENT_DUE_DAYS] [int] NULL,
	[PAYMENT_DUE_FROM] [datetime] NULL,
	[TRADING_TERMS] [varchar](50) NULL,
	[CREDIT_REF] [varchar](50) NULL,
	[BUREAU] [varchar](50) NULL,
	[PRIORITY_CUSTOMER] [bit] NULL,
	[CREDIT_POSITION] [varchar](50) NULL,
	[ACCOUNT_STATES] [varchar](50) NULL,
	[DUNS_NUMBER] [varchar](50) NULL,
	[LAST_CREDIT_REVIEW] [varchar](50) NULL,
	[NEXT_CREDIT_REVIEW] [varchar](50) NULL,
	[APPLICATION_DATE] [datetime] NULL,
	[DATE_RECEIVED] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER_DEFAULT]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_DEFAULT](
	[DEFAULT_NOMINAL_CODE] [nvarchar](50) NULL,
	[IS_NOMINALCODE_SALES] [bit] NULL,
	[DEFAULT_TAX_CODE] [nvarchar](50) NULL,
	[IS_TAXCODE_SALE] [bit] NULL,
	[CURRENCY_CODE] [nvarchar](50) NULL,
	[DEPARTMENT] [nvarchar](50) NULL,
	[REPORTING_PASSWORD] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER_DELIVERY_ADDRESS]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_DELIVERY_ADDRESS](
	[DELIVERY_ID] [int] IDENTITY(1,1) NOT NULL,
	[DELIVERY_CODE] [nvarchar](50) NULL,
	[DELIVERY_COMPANY_NAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[CONTACTS] [nvarchar](50) NULL,
	[TELEPHONE] [nvarchar](50) NULL,
	[FAX] [nvarchar](50) NULL,
	[CUSTOMER_CODE] [nvarchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[STATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK_CUSTOMER_DELIVERY_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[DELIVERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER_DOCUMENT]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_DOCUMENT](
	[FILE_NAME] [varchar](50) NULL,
	[DATE] [datetime] NULL,
	[TYPE_ID_DOC] [varchar](50) NULL,
	[SIZE] [varchar](50) NULL,
	[TAG] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GROUP_LOOKUP]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_LOOKUP](
	[GROUP_CODE] [nchar](10) NULL,
	[GROUP_TYPE_CODE] [nchar](10) NULL,
	[GROUP_DESCRIPTION] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GROUP_TYPE_LOOKUP]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GROUP_TYPE_LOOKUP](
	[GROUP_CODE] [varchar](50) NULL,
	[GROUP_TYPE_NAME] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALES_ORDER]    Script Date: 30-10-2017 11:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALES_ORDER](
	[INVOICE_TO] [varchar](50) NULL,
	[DELIVERY_TO] [varchar](50) NULL,
	[ORDER_NO] [varchar](50) NULL,
	[ORDER_REF] [varchar](50) NULL,
	[ORDER_DATE] [datetime] NULL,
	[SALES_PERSON] [varchar](50) NULL,
	[MARKET_CODE] [varchar](50) NULL,
	[OVERALL_DISC_PER] [decimal](18, 0) NULL,
	[ORDER_VALUE] [decimal](18, 0) NULL,
	[STANDARD_DISCOUNT] [decimal](18, 0) NULL,
	[TOTAL_VAT] [decimal](18, 0) NULL,
	[TOTAL_ORDER_VALUE] [decimal](18, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
